# May need to install following packages and then import them
!pip install bs4
!pip install requests
!pip install sqlalchemy
!pip install folium
!pip install xlrd

# Here are all the packages to import
import bs4
import requests
import pandas as pd
import geopandas as gpd
import random
import math
from geopy.distance import geodesic
import sqlalchemy as db
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st
import matplotlib
import folium
import pandas as pd
import numpy as np
import webbrowser
from folium.plugins import HeatMap
import xlrd
import matplotlib.image as mpimg
